<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>853780675945-t8d4n1qgmrhv082k7v1ppm9hhdck2rni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853780675945-t8d4n1qgmrhv082k7v1ppm9hhdck2rni</string>
	<key>API_KEY</key>
	<string>AIzaSyCGsDnQp9nBo7KZdCUmlh75jUTv3F9DGXo</string>
	<key>GCM_SENDER_ID</key>
	<string>853780675945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samkheirandish.drawteams.MyApp</string>
	<key>PROJECT_ID</key>
	<string>draw-teams</string>
	<key>STORAGE_BUCKET</key>
	<string>draw-teams.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853780675945:ios:e5d964ca67e3ad63</string>
	<key>DATABASE_URL</key>
	<string>https://draw-teams.firebaseio.com</string>
</dict>
</plist>